# LORD DEMON V2 — Configuration
OWNER_NUMBER=votre_numero_sans_plus
# OWNER_NUMBERS=numero1,numero2
OWNER_LID=
SUDO=
BOT_NAME=𝐋𝐎𝐑𝐃 ✘ 𝐃𝐄𝐌𝐎𝐍
PREFIX=.
MODE=public
MAX_WARNS=3
COOLDOWN_MS=2000
FLOOD_MAX=5
FLOOD_WINDOW=5000
CLE_GROQ=
PIXABAY_KEY=
OPENWEATHER_KEY=
OCR_API_KEY=
DEEPGRAM_KEY=
AUTO_READ=true
AUTO_TYPING=true
SESSION_SECRET=
